upstream {{ app_name }} {
  server unix:/tmp/{{ app_name }}.sock fail_timeout=0;
  {% if app_port is defined %}
  server 127.0.0.1:{{ app_port }} fail_timeout=0;
  {% endif %}
}

server {
  listen 80;
  server_name menuintegrado.com.br;
  return 301 https://www.menuintegrado.com.br$request_uri;
}

server {
  listen 80;
  server_name menuintegrado.pe;
  return 301 https://www.menuintegrado.pe$request_uri;
}

server {
  listen 80;
  server_name menuintegrado.com.pe;
  return 301 https://www.menuintegrado.pe$request_uri;
}

server {
  listen 80;
  server_name www.menuintegrado.com.pe;
  return 301 https://www.menuintegrado.pe$request_uri;
}

server {
  listen 80;
  server_name menuintegrado.pt;
  return 301 https://www.menuintegrado.pt$request_uri;
}

server {
  listen 80;
  server_name menuintegrado.com.pt;
  return 301 https://www.menuintegrado.pt$request_uri;
}

server {
  listen 80;
  server_name www.menuintegrado.com.pt;
  return 301 https://www.menuintegrado.pt$request_uri;
}

server {
  listen 80 default_server;
  keepalive_timeout 5;
  root {{ app_path }}/public;
  try_files $uri $uri.html $uri/index.html @app;
  client_max_body_size {{ max_upload_size }};
 
  location ~ ^/(assets|packs)/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
    add_header ETag "";
    add_header Last-Modified "";
    add_header Access-Control-Allow-Origin *;
    add_header Access-Control-Request-Method *;
    try_files $uri @app;
  }

  location @app {
    proxy_set_header Host $http_host;
    proxy_pass http://{{ app_name }};
    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;
  }

  location /cable {
    proxy_pass http://{{ app_name }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
