upstream {{ app_name }} {
  server unix:/tmp/{{ app_name }}.sock fail_timeout=0;
  {% if app_port is defined %}
  server 127.0.0.1:{{ app_port }} fail_timeout=0;
  {% endif %}
}

{% if host is defined %}
server {
  listen 80 default_server;

  location /health {
    proxy_pass http://{{ app_name }};
  }

  location / {
    return 444;
  }
}
{% endif %}

{% if host is defined and host[0:4] == "www." %}
server {
  listen 80;
  server_name {{ host | regex_replace('www.', '') }};
  return 301 $scheme://{{ host }}$request_uri;
}
{% endif %}

server {
  {% if host is defined %}
  listen 80;
  server_name {{ host }};
  {% else %}
  listen 80 default_server;
  {% endif %}
  keepalive_timeout 5;
  {% if app_path is defined %}
  root {{ app_path }}/public;
  try_files $uri $uri.html $uri/index.html @app;
  {% else %}
  try_files $uri @app;
  {% endif %}
  {% if max_upload_size is defined %}
  client_max_body_size {{ max_upload_size }};
  {% endif %}
 
  location /assets {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
    add_header ETag "";
    add_header Last-Modified "";
    try_files $uri @app;
  }

  location @app {
    proxy_set_header Host $http_host;
    proxy_pass http://{{ app_name }};
  }
}
