- name: update project source
  git: repo={{repository}} dest={{app_path}} accept_hostkey=yes

- name: install gems with bundler
  command: bundle install --deployment chdir={{ app_path }}
  register: bundler

- name: migrate the database
  shell: . ~/.bash_profile && bundle exec rake db:create db:migrate RAILS_ENV={{ rails_env }} chdir={{ app_path }}

- name: compile assets
  command: bundle exec rake assets:precompile RAILS_ENV={{ rails_env }} chdir={{ app_path }}

- name: registers puma pid
  command: cat tmp/pids/puma.pid chdir={{ app_path }}
  register: puma_pid
  when: bundler.stdout.find("puma") != -1

- name: restart puma
  command: kill -USR2 {{ puma_pid.stdout }}
  when: bundler.stdout.find("puma") != -1

- name: registers unicorn pid
  command: cat tmp/pids/unicorn.pid chdir={{ app_path }}
  register: unicorn_pid
  when: bundler.stdout.find("unicorn") != -1

- name: restart unicorn
  command: kill -USR2 {{ unicorn_pid.stdout }}
  when: bundler.stdout.find("unicorn") != -1
